<!DOCTYPE html>
<html>
    <head>
        <title>index chatgpt</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <h2 class="heading">{{text}}</h2>
            <div class="formContainer">
                <form>
                <input placeholder="Ask question" type="text" size="50px"/>
                <button>submit</button>
            </form>
            <p>answer</p>
            <textarea class="answer" ></textarea>
            </div>
        </div>
            
        <script src="/js/clientjs.js"></script>
    </body>
</html>