
.container {
    width: 650px;
    height: 400px;
    margin: 0 auto;
    border: 3px solid black;
    background-color: beige;
}

.heading {
    color : black;
    margin: 0 auto;
    padding: 30px;
}

.formContainer {
    margin: 0 auto;
    padding-left: 20px;
}

.answer {
    width: 600px;
    height: 200px;
}